Flask==0.10.1
Flask-Bootstrap==3.3.6.0
Flask-SQLAlchemy==2.1
junos-eznc==2.0.0
matplotlib==1.5.3
more-itertools==2.2
mpld3==0.2
networkx==1.11
numpy==1.11.1
uWSGI==2.0.13.1
beautifulsoup4==4.5.1
pydotplus==2.0.2
