{% extends "bootstrap/base.html" %} 

{% block title %}Juniper PyEZ Demo{% endblock %}

{% block body %}
<link type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">


  <div id="wrapper">
    {% include "sidebar.html" %} 
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->


    <div id="page-content-wrapper"><div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><span class="glyphicon glyphicon-info-sign"></span> {{ ip_addr }} {{ hostname }}</h1>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
  </div>


  



  <div class="col-lg-12"> 
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <big>Basic Information</big>	
    	</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Host name</th>
            <th>Model</th>
            <th>OS Version</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          {% include '/dev_info/facts/' + ip_addr ignore missing %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="col-lg-12"> 
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <big>LLDP</big>	
    	</div>
      {% include '/dev_info/fig/' + ip_addr ignore missing %}
      {% include '/dev_info/lldp/' + ip_addr ignore missing %}
    </div>
  </div>
  
  <div class="col-lg-12"> 
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <big>VLAN</big>	
    	</div>
      {% include ['/dev_info/vlans/' + ip_addr, 'error.html'] ignore missing %}
    </div>
  </div>


  <div class="col-lg-12"> 
    <div class="panel panel-primary">
    	<div class="panel-heading">
        <big>Hardware information</big>	
    	</div>
      {% include ['/dev_info/hardware/' + ip_addr, 'error.html'] ignore missing %}
    </div>
  </div>

{% endblock %}

