{% extends "bootstrap/base.html" %} 

{% block title %}Juniper PyEZ Demo{% endblock %}

{% block head %}
{{super()}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
{% endblock %}

{% block body %}
<link type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">


  <div id="wrapper">
    {% include "sidebar.html" %} 
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->


    <div id="page-content-wrapper"><div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><span class="glyphicon glyphicon-save"></span> Install Junos Image (Not implemented)</h1>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    <div class="col-lg-12">
      <form class="form-inline" action="{{ url_for('install_image') }}" method=post name="install_image">
      <input class="btn btn-primary" type="submit"><br></br>
    </div>
  <!-- /div -->

  <div class="col-lg-12"> 
    <div class="panel panel-primary">
    	<div class="panel-heading">
      <big>Junos Device List ({{ query_count }} devices are connected)</big>
    	</div>
    
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th>IP Address</th>
    				<th>Host name</th>
    				<th>Model</th>
    				<th>Current Version</th>
            <th>Update Version</th>
    			</tr>
    		</thead>
    		<tbody>
          {% for device in devices %}
    			<tr>
              {% include '/dev_info/facts/' + device ignore missing %}
            <th>
              <select class="selectpicker" name="file">
              <option value="null"></option>
              </select>
            </th>
    			</tr>
          {% else %}
          <tr>
            <th>None</th>
            <th>None</th>
            <th>None</th>
            <th>None</th>
            <th>None</th>
          </tr>
          {% endfor %}
    		</tbody>
    	</table>
     </form>
    </div>
  </div>



</div>
</div>


  

{% endblock %}

