{% extends "bootstrap/base.html" %} 

{% block title %}Juniper PyEZ Demo{% endblock %}

{% block head %}
{{super()}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
{% endblock %}


{% block body %}
<link type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">


  <div id="wrapper">
    {% include "sidebar.html" %} 
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->


    <div id="page-content-wrapper"><div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><span class="glyphicon glyphicon-transfer"></span> Send commands</h1>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
  <div class="col-lg-12">


    <div class="col-lg-5">

      <form class="form-group" action="{{ url_for('cmd_result') }}" method=post name="cmd_result">
      <div class="row">
          <textarea class="form-control" rows="8" name='command'></textarea>
      </div>
      <div class="row">
        </br>
        <!-- input class="btn btn-primary btn-block" type="submit" -->
        <button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-arrow-down"></i> Change Configurations</button> 
        </br>
      </div>
      <div class="row">
          <textarea class="form-control" rows="8" readonly>{{ diff }}</textarea>
      </div>
    </div>

    <div class="col-lg-7"> 
      <div class="panel panel-primary">
    	  <div class="panel-heading">
          <big>Junos Device List ({{ query_count }} devices are connected)</big>
    	  </div>
    
    	  <table class="table table-striped">
    		  <thead>
    			  <tr>
              <th></th>
    				  <th>IP Address</th>
    				  <th>Host name</th>
    				  <th>Model</th>
              <th>OS Version</th>
    			  </tr>
    		  </thead>
    		  <tbody>
            {% for device in devices %}

            <tr>
            <th><input type="checkbox" name="check" value={{ device }}></th>
              {% include '/dev_info/facts/' + device ignore missing %}
            </tr>
            {% else %}
            <tr>
              <th></th>
              <th>None</th>
              <th>None</th>
              <th>None</th>
              <th>None</th>
            </tr>
            {% endfor %}
    		  </tbody>
    	  </table>
      </form>
    </div>
  </div>
 </div>


  

{% endblock %}

