{% extends "bootstrap/base.html" %} 

{% block title %}Juniper PyEZ Demo{% endblock %}

{% block body %}
<link type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">


  <div id="wrapper">
    {% include "sidebar.html" %} 
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->


    <div id="page-content-wrapper"><div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><span class="glyphicon glyphicon-search"></span> Connect Junos Devices</h1>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->

    <div style="margin-bottom:50px;">
    <div class="col-lg-12">

  <form action="{{ url_for('collect_dev_info') }}" method=post class="add-entry">
  <div class="row">
    <label for="start_addr" class="col-lg-2 control-label">Start IP Address</label> 
    <div class="col-lg-4"> 
      <div class="form-group">
        <input type=text class="form-control" id="start_addr" size=20 name=start_addr value={{ start_addr }} placeholder="Start Address">
      </div>
    </div>
  </div>
  <div class="row">
    <label for="end_addr" class="col-lg-2 control-label">End IP Address</label> 
    <div class="col-lg-4"> 
      <div class="form-group">
        <input type=text class="form-control"  id="end_addr" name=end_addr value={{ end_addr }} placeholder="End Address">
      </div>
    </div>
  </div>
  <div class="row">
    <label for="user" class="col-lg-2 control-label">User Name</label> 
    <div class="col-lg-4"> 
      <div class="form-group">
        <input type=text class="form-control"  id="user" name=user value={{ user }} >
      </div>
    </div>
  </div>
  <div class="row">
    <label for="password" class="col-lg-2 control-label">Password</label> 
    <div class="col-lg-4"> 
      <div class="form-group">
        <input type=password class="form-control"  id="password" name=password value={{ password }} >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-3">
    <input type=submit name=button class="btn btn-default"  value="Search">
    </div>
    <div class="col-lg-1">
    <input type=submit name=button class="btn btn-success"  value="Connect">
    </div>
  </div>
  </form>
  </div>
  </div>
{% endblock %}

